<div class="container">
  <h1> <%=  @article.title %></h1>
  <p><%=  @article.content %></p>
  <p><%= link_to "update the article", edit_path %></p>
  <p><%= link_to "Delete",
              article_path(@article),
              method: :delete,
              data: { confirm: "Are you sure?" } %></p>
  <p><%= link_to "back to index", articles_path %></p>

</div>
